POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nome_banco
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nome_banco
PIPEFY_API_URL=https://api.pipefy.com/graphql
PIPEFY_TOKEN=your_pipefy_token
PIPEFY_CLIENT_MANAGEMENT_PIPE_ID=your_pipe_id
PIPEFY_MODE=development
